# 数据库
#POSTGRES_URI=postgresql://langgraph_user:your_password@156.226.179.254:5432/AgentPro
POSTGRES_URI=postgresql://root:password@127.0.0.1:5432/AgentPro
POSTGRES_POOL_MIN_SIZE=1
POSTGRES_POOL_MAX_SIZE=10
CHROMA_PERSIST_DIR=./chroma_db
MEMORY_MARKDOWN_DIR=./agent_memory

# Hub
HUB_HOST=localhost
HUB_PORT=8765

# 模型
ZHIPU_API_KEY=993xxxxxxxxxxxxxxxxxxxxxxxlyCBg
ZHIPU_BASE_URL=https://open.bigmodel.cn/api/paas/v4
#DEFAULT_PROVIDER=zhipu
#DEFAULT_MODEL=GLM-4.7
VISION_MODEL=GLM-4.1V-Thinking-Flash
COMPUTER_VISION_MODEL=GLM-4.1V-Thinking-Flash
#INTENT_MODEL=GLM-4.7
#MODEL_TEMPERATURE=0.0
DEEPSEEK_API_KEY=sk-f06xxxxxxxxxxxxxxxxxxxxxxxxx
API_KEY=sk-f06xxxxxxxxxxxxxxxxxxxxxxxxx
BASE_URL=https://api.deepseek.com
DEFAULT_PROVIDER=deepseek
DEFAULT_MODEL=deepseek-v4-flash
INTENT_MODEL=deepseek-v4-flash
MODEL_TEMPERATURE=0.0


# Agent
AGENT_ID_PREFIX=agent
NUM_AGENTS=1
USE_LONG_TERM_MEMORY=true

# Backend
BACKEND_ROOT_DIR=.
BACKEND_VIRTUAL_MODE=true
BACKEND_TIMEOUT=30
BACKEND_MAX_OUTPUT_BYTES=10000
DOCKER_VOLUMES=F:\\agent-workspace
DOCKER_VOLUMES1=F:\\AgentPro

# Scheduler
SCHEDULER_TIMEZONE=Asia/Shanghai
REMINDER_CHECK_INTERVAL=10

# Tavily
TAVILY_API_KEY=tvly-dev-mr1vRxxxxxxxxxxxxxxxxxxxxxx

# LANGSMITH观测
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_pxxxxxxx
LANGSMITH_PROJECT="AgentPro"

# 内置浏览器是否可见，默认可见 设 BROWSER_HEADLESS=1 可切换为无头模式
BROWSER_HEADLESS=0
# 智能体进程是否展示在命令行窗口 1展示 0不展示
AGENT_SHOW_CONSOLE=1